<% provide(:title, 'All users') %>
<h1 class="mb-3">All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>

<%= link_to "New user", new_user_path %>
