<div class="navbar navbar-expand navbar-light bg-light">
  <div class="container justify-content-start">
    <%= link_to "sample app", root_path, class: 'navbar-brand', id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= button_to "Home", root_path, class: 'btn btn-light' %></li>
        <li><%= button_to "Help", help_path, class: 'btn btn-light' %></li>
        <li><%= button_to "Log in", '#', class: 'btn btn-light' %></li>
      </ul>
    </nav>
  </div>
  </div>
</header>
